[submodule "MwLibrary2"]
	path = MwLibrary2
	url = https://github.com/mwthinker/MwLibrary2.git
[submodule "SdlGui"]
	path = external/SdlGui
	url = https://github.com/mwthinker/SdlGui.git
[submodule "Calculator"]
	path = external/Calculator
	url = https://github.com/mwthinker/Calculator.git
[submodule "SimpleNetwork"]
	path = external/SimpleNetwork
	url = https://github.com/mwthinker/SimpleNetwork.git
[submodule "CppConsole"]
	path = external/CppConsole
	url = https://github.com/mwthinker/CppConsole.git
